@import "tailwindcss";

/* RANGE SLIDER THUMBS */
input[type="range"].thumb {
  -webkit-appearance: none;
}

input[type="range"].thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  background: white;
  border: 4px solid #2563eb; /* Blue-600 */
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

input[type="range"].thumb::-moz-range-thumb {
  height: 20px;
  width: 20px;
  background: white;
  border: 4px solid #2563eb;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
