# =====================================
# Root Git Ignore for Zycart (MERN)
# =====================================

# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Environment files
server/.env
client/.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
client/dist/
server/dist/

# System / Editor files
.DS_Store
Thumbs.db

# Vite cache
client/.vite/
client/.cache/

# Temporary files
*.tmp
*.bak

# VSCode
.vscode/


# Dataset
server/dataset